:root
{
    display: flex;
    
}

body
{
    display: flex;
}

#logo-and-title-container
{
    display: flex;
}

#form-top
{
    display: flex;
}

#form-middle
{
    display: flex;
}

#form-bottom
{
    display: flex;
}
h1 {
    font-size: 48px;
}

#left
{
    background-image: url("img/tyrannosaurusRexBackground.jpg");
}

#logo
{
    
}

#title
{

}