:root
{
    display: flex;
    box-sizing: border-box;
    border: 10px;

}

body
{
    display: flex;
}

#logo-and-title-container
{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

#title
{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vh;
}

#form-top
{
    display: flex;
}

#form-middle
{
    display: flex;
}

#form-bottom
{
    display: flex;
}
h1 {
    font-size: 48px;
}

#left
{
    background-image: url("img/tyrannosaurusRexBackground.jpg");
    height: 100vh;
    display: flex;
    align-items: center;
    width: 50vw;
}

#right
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 50vw;
}

#logo
{
    max-height: 200px;
    margin: 10px;
}

#title
{
    max-height: 200px;
}