:root
{
    display: flex;

}

body
{
    display: flex;
}

#logo-and-title-container
{
    display: flex;
    background-color: black;
}

#title
{
    color: white;
}

#form-top
{
    display: flex;
}

#form-middle
{
    display: flex;
}

#form-bottom
{
    display: flex;
}
h1 {
    font-size: 48px;
}

#left
{
    background-image: url("img/tyrannosaurusRexBackground.jpg");
    height: 100vh;
    display: flex;
    align-items: center;
}

#right
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#logo
{
    max-height: 200px;
}

#title
{
    max-height: 200px;
}